.home{
    background-color: var(--main-color);
    color: green;
    overflow: hidden;
 //use for change the coor of react clone

    // .conatiner{
    //     img{
    //         height: 25px;
    //     }
    // }
}

